<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1>APIHub</h1>

        <div class="request-section">

            <select id="method">
                <option>GET</option>
                <option>POST</option>
                <option>PUT</option>
                <option>DELETE</option>
            </select>

            <input
                type="text"
                id="url"
                placeholder="Enter API URL">

            <button id="sendBtn">
                Send
            </button>

        </div>

        <div class="section">
            <h2>Request Headers</h2>
            <textarea id="headers" placeholder='{"Content-Type":"application/json"}'></textarea>
        </div>

        <div class="section">
            <h2>Request Body (JSON)</h2>
            <textarea id="body" placeholder='{"name":"John"}'></textarea>
        </div>

        <div class="section">
            <h2>Response</h2>

            <p><strong>Status:</strong> <span id="status">-</span></p>

            <p><strong>Response Time:</strong> <span id="time">-</span></p>

            <h3>Headers</h3>
            <pre id="responseHeaders"></pre>

            <h3>Response Body</h3>
            <pre id="responseBody"></pre>

        </div>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>