<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>APIHub</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="navbar">

    <div>

        <div class="logo">

            APIHub

        </div>

        <div class="subtitle">

            REST API Client

        </div>

    </div>

    <div class="nav-right">

        <a href="/" class="nav-link active">
            Workspace
        </a>

        <a href="/history" class="nav-link">
            History
        </a>

    </div>

</nav>

<div class="workspace">


    <section class="panel">

        <div class="panel-header">

            <h2>

                Request

            </h2>

            <p>

                Configure and send your HTTP request.

            </p>

        </div>

        <div class="request-top">

            <select id="method">

                <option>GET</option>
                <option>POST</option>
                <option>PUT</option>
                <option>DELETE</option>

            </select>

            <input

                id="url"

                type="text"

                placeholder="https://jsonplaceholder.typicode.com/posts">

            <button

                id="sendBtn"

                class="send-btn">

                Send Request

            </button>

        </div>

        <div class="editor">

            <div class="editor-title">

                Request Headers

            </div>

            <textarea

                id="headers"

                spellcheck="false"

                placeholder='{
    "Content-Type":"application/json"
}'></textarea>

        </div>

        <div class="editor">

            <div class="editor-title">

                JSON Body

            </div>

            <textarea

                id="body"

                spellcheck="false"

                placeholder='{
    "title":"APIHub",
    "userId":1
}'></textarea>

        </div>

    </section>

    <section class="panel">

        <div class="response-top-bar">

            <div>

                <h2>

                    Response

                </h2>

            </div>

            <div class="response-badges">

                <span

                    id="status"

                    class="badge badge-gray">

                    Waiting

                </span>

                <span

                    id="time"

                    class="badge badge-blue">

                    -- ms

                </span>

            </div>

        </div>

        <div class="response-card">

            <div class="editor-title">

                Response Headers

            </div>

            <pre id="responseHeaders">

No response yet.

Send an API request to view the response.

</pre>

        </div>

        <div class="response-card">

            <div class="editor-title">

                Response Body

            </div>

            <pre id="responseBody">

No response yet.

Send an API request to view the response.

</pre>

        </div>

    </section>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>